<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="images/DL-57x57.png">
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/controllers.js"></script>
  <script src="scripts/controllers/filter.js"></script>
  <script src="scripts/services/services.js"></script>

  <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>

</head>
<body>

  <div ng-view></div>

</body>
</html>